<%= simple_form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
<div class="form-group col-md-6">
  <label>Categoria</label>
  <%= f.input :Categoria, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Categoria 2</label>
   <%= f.input :category2, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Unidade</label>
  <%= f.input :unity, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Descrição</label>
  <%= f.input :description, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Indentificação</label>
  <%= f.input :indentification, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Custo</label>
  <%= f.input :cost, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Preço venda</label>
   <%= f.input :sale_price1, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Observação</label>
  <%= f.input :observation, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Fornecedor</label>
   <%= f.input :provider, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Estoque</label>
    <%= f.input :stock, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Código de barras</label>
   <%= f.input :bar_code, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Preço venda 2</label>
  <%= f.input :sale_price2, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Preço venda 3</label>
  <%= f.input :sale_price3, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Estoque mínimo</label>
  <%= f.input :minimum_stock, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Estoque máximo</label>
  <%= f.input :max_stock, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Venda estoque</label>
  <%= f.input :stock_purchase, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Venda Unitario</label>
  <%= f.input :sale_unit, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>NCM</label>
  <%= f.input :ncm, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Marca</label>
  <%= f.input :brand, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Peso</label>
  <%= f.input :weight, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Tamanho</label>
  <%= f.input :size, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Inativo</label>
    <%= f.input :inactive, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Tipo</label>
  <%= f.input :product_type, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Categoria3</label>
  <%= f.input :category3, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Categoria4</label>
    <%= f.input :category4, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Composição</label>
  <%= f.input :composition, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Materia prima</label>
  <%= f.input :feedstock, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Exp Material</label>
  <%= f.input :exp_material, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Para venda</label>
  <%= f.input :to_sale, label: false, input_html: { class: 'form-control' } %>
</div>
<div class="form-field col-md-6">
  <label>Moeda</label>
  <%= f.input :currency, label: false, input_html: { class: 'form-control' } %>
</div>
 
 <hr>
 <br>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn btn-default' %>
<% end %>
